.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1260px;
}

img {
    max-height: 90%

}

.title {
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 400px;
    margin: 10px;
    text-align: center;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: white;
    border: solid 2px gold;
    border-radius: 5px;
    background-color: black;
  }
  
  .flip-card-back {
    background-color: black;
    color: white;
    border-radius: 5px;
    transform: rotateY(180deg);
  }

  body {
    margin: 0;
    background-color: black;
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }